/Apartments/candidates.csv
/Apartments/candidates.xlsx
/Apartments/compile.csv
/Apartments/compileNew.csv
/Apartments/find_apartments.nb.html
/Apartments/find_apartments.Rmd
/Apartments/furnished.csv
/Apartments/furnished.xlsx
/Apartments/geo.csv
/Apartments/geoNew.csv
/Apartments/geoNew.UC.csv
/Apartments/rent.coefs.RData
/Apartments/rent.mod.RData
/Apartments/rent.pca.RData
/Apartments/sqft.coefs.RData
/Apartments/sqft.mod.RData
/Apartments/sqft.pca.RData
/Apartments/sqft_test.csv
/Apartments/sqft_train.csv
/Apartments/test.csv
/Apartments/train.csv
/Apartments/transport.csv
/Apartments/transportNew.csv
/Apartments/transportNew.UC.csv
/Apartments/apartments.nb.html
/Apartments/apartments.pdf
/TradeRoute/chromedriver
